<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 彩色日志 -->
	<!-- 彩色日志依赖的渲染类 -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
	<conversionRule conversionWord="wex"
					converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
	<conversionRule conversionWord="wEx"
					converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--encoder 默认配置为PatternLayoutEncoder-->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%-5level)  %clr(%logger{36}[%L]){cyan} - %msg%n</Pattern>
		</layout>
	</appender>

	<property name="LOG_HOME" value="d:/log/tomcat" />
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/serverLog.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}[%L] - %msg%n</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="WARN"/>
    <logger name="org.mybatis.spring" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.master" level="DEBUG"/>
	
	<root level="TRACE">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>